#h1 {
    color: #000;
    font-family: Lato;
    font-size: 912px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

#first {
    width: 1220px;
    color: #FF8000;
    text-align: center;
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
}

#main1 {
    display: flex;
    width: 696px;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 30px;
}

#main1-1 {
    align-self: stretch;
    color: #D9AE00;
    font-family: Lato;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

#main1-2 {
    align-self: stretch;
    color: #6D81B4;
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#main1-3 {
    height: 415px;
    align-self: stretch;
    background: url(<path-to-image>) lightgray 50% / cover no-repeat;
}

#main2 {
    display: flex;
    width: 1007px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    border-top: 2px solid #000;
    border-right: 2px solid #8B2B2C;
    border-left: 2px solid #000;
    border-bottom: 2px solid #8B2B2C;
    background: #FFCEBE;
    padding: 64px;
}

#main2-1 {
    color: #F44E50;
    text-align: center;
    font-family: Lato;
    font-size: 40px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: uppercase;
}

#main2-2 {
    align-self: stretch;
    color: #8B2B2C;
    text-align: center;
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

#main2-3 {
    width: 879px;
    height: 415px;
    background: url(<path-to-image>) lightgray 50% / cover no-repeat;
}

#main3 {
    display: flex;
    width: 696px;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 30px;
}

#main3-1 {
    align-self: stretch;
    color: #4716E4;
    text-align: right;
    font-family: Lato;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

#main3-2 {
    flex: 1 0 0;
    color: #616161;
    text-align: right;
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    padding: 24px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    border: 3px solid #FF5DA3;
    background: #FFC1E3;
}

#main3-3 {
    flex: 1 0 0;
    color: #414651;
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: 24px;
}




#main3-4 {
    flex: 1 0 0;
    color: #C27512;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;

}

#main3-5 {
    height: 415px;
    align-self: stretch;
    background: url(<path-to-image>) lightgray 50% / cover no-repeat;
}